<h1><%= @word.word %></h1>
<h2><%= @word.definition %></h2>

<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="message_header">Add Your Definition</label>
    <br>
    <textarea id="kdef" name="kdef" class="form-control" type="text" rows="5" cols="60">
    </textarea>
  </div>
  <button type="submit" class="btn">Add definition!</button>
</form>

<% if @word.kdefs.any? %>
   <ul>
     <% @word.kdefs.each do |definitions| %>
     <li><%= definitions.definition %> <a href="/word/<%= @word.id %>/definition/<%= definitions.id %>"> Edit</a><a href="/definition/<%= @word.id %>/definitions/<%= definitions.id %>"> Delete</a></li>
     <% end %>
   </ul>
 <% else %>
   <p>Nope, nada.</p>
 <% end %>
